<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddAvenger</servlet-name>
        <servlet-class>com.rishabh_deep.rishabh_deep_a2.servlets.AddAvenger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAvengers</servlet-name>
        <servlet-class>com.rishabh_deep.rishabh_deep_a2.servlets.GetAvengers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAvenger</servlet-name>
        <servlet-class>com.rishabh_deep.rishabh_deep_a2.servlets.RemoveAvenger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPowerSource</servlet-name>
        <servlet-class>com.rishabh_deep.rishabh_deep_a2.servlets.AddPowerSource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePowerSource</servlet-name>
        <servlet-class>com.rishabh_deep.rishabh_deep_a2.servlets.RemovePowerSource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAvenger</servlet-name>
        <url-pattern>/AddAvenger.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAvengers</servlet-name>
        <url-pattern>/GetAvengers.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAvenger</servlet-name>
        <url-pattern>/RemoveAvenger.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/serverError.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>AddPowerSource</servlet-name>
        <url-pattern>/AddPowerSource.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePowerSource</servlet-name>
        <url-pattern>/RemovePowerSource.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
